body{
    background: -webkit-linear-gradient(left, #c2dace, #087E8B);
    font-family: 'Source Code Pro', monospace;
}

.signup-box {
    width: 360px;
    height: 560px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}

.login-box{
    width: 360px;
    height: 290px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
}

h1{
    text-align: center;
    padding-top: 15px;
}

h4{
    text-align: center;
}

form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.para-2{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
}

.para-2 a{
    color: #ffb08b;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #a9b8be;
}

.header{
    display: flex;
    justify-content: space-evenly;
    color: #2C2C2C;
    background: -webkit-linear-gradient(left, #087E8B, #c2dace);
    padding: 2em 0;
    align-items: center;
}

.contact-search{
    font-size: 1em;
    padding: .3em;
    border: 1px solid #fff;
    outline: none;
    width: 350px;
}

i{
    font-size: 1.5em;
}

.contact-name{
    font-size: 1.2em;
}

ul{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

hr{
    border: 1px solid #494a4b5b;
}

.list__item{
    list-style: none;
}

.relationship{
    width: 6em;
    text-align: center;
    padding: .4em .5em;
    font-size: .8em;
}

.contact-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 1.5em;
    transition: 0.3s;
}

.contact-section:hover{
    background-color: #80787825;
}

a{
    text-decoration: none;
    color: #000;
}
