body{
    background: -webkit-linear-gradient(left, #c2dace, #087E8B);
    font-family: 'Source Code Pro', monospace;
}

.signup-box {
    width: 360px;
    height: 560px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}

.contact-box {
    width: 360px;
    height: auto;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}

.login-box{
    width: 360px;
    height: 290px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
}

h1{
    text-align: center;
    padding-top: 15px;
}

h4{
    text-align: center;
}

form{
    width: 300px;
    margin-left: 20px;
    height: auto;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

.button {
    text-align: center;
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #e5ded2;
    color: #2c2c2c;
    font-size: 18px;
}
.button:hover {
    background-color: #9d9b93;
    color: white;
}
.button:active {
    background-color: #9d9b93;
    color: gray;
}


p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.para-2{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
}

.para-2 a{
    color: #e7b9b4;
}

.container {
    max-width: 600px;
    border-radius: 10px;
    margin: auto;
    background: -webkit-repeating-linear-gradient(left,#e5ded2, #a8b6af);
}

.header{
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    color: #2C2C2C;
    background: -webkit-linear-gradient(left, #087E8B, #c2dace);
    padding: 2em 0;
    align-items: center;
}

.contact-search{
    font-size: 1em;
    padding: .3em;
    border: 1px solid #fff;
    outline: none;
    width: 350px;
}

i{
    font-size: 1.5em;
}

.contact-name{
    font-size: 1.2em;
}

ul{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

hr{
    border: 1px solid #494a4b5b;
}

.list__item{
    list-style: none;
}

.relationship{
    width: 6em;
    text-align: center;
    padding: .4em .5em;
    font-size: .8em;
}

.contact-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 1.5em;
    transition: 0.3s;
}

.contact-section:hover{
    background-color: #80787825;
}

a{
    text-decoration: none;
    color: #000;
}

.css-element{
    display:block;
}
.css-element{
    display:none;
}

.icon1{
    text-align: center;
    font-size: 1.5em;
    top:50%;
    border-radius: 5px;
    float:left;
    width:45px;
    height:45px;
    background-color: white;
    color: #2c2c2c;
}

.icon1:hover{
    background-color: #9d9b93;
    color: white;
}

.icon1:active{
    background-color: white;
    color: gray;
}

.icon2{
    text-align: center;
    font-size: 1.5em;
    border-radius: 5px;
    top:50%;
    float:right;
    width:45px;
    height:45px;
    background-color: white;
    color: #2c2c2c;
}

.icon2:hover{
    background-color: #9d9b93;
    color: white;
}

.icon2:active{
    background-color: white;
    color: gray;
}

.modal {
    display: none;  
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 340px;
    height: 430px;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .view {
    background-color: transparent;
    border: none;
    font-size: 16px;
    display: inline-flex;
    align-items: center; 
    width:140%;
    padding:10px;
  }
